.choosemodel-display {
    display: block;
}

.choosemodel-hide {
    display: none;
}

.png-model-icon {
    height: 150px;
}

.eachmodelcontainer {
    padding: 5px;
    margin-right: 5px;
    border: 1px black solid;
    border-radius: 2px;
}

.eachmodelcontainer:hover {
    cursor: pointer;
}

.choosemodelcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.choosemodelcontainer section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.otheroptionmodel{
    height: 185px;
    width: 100px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 3px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  
.otheroptionmodel:hover {
    cursor: pointer;
}